<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/index.css') }}">
</head>
<body>
    <div class="proposal">
        <h1>Meal Decide</h1>

        <div class="buttons">
            <a href="{{ url_for('return_home_btn') }}" class="button">LANDING PAGE</a> <br>
            <a href="{{ url_for('proposal_btn') }}" class="button">TAKE OUT</a> <br>
            <a href="{{ url_for('proposal_btn') }}" class="button">DINE IN</a> <br>
            <a href="{{ url_for('proposal_btn') }}" class="button">RECIPE</a> <br>
            <a href="credits.html" class="button">Credits</a> <br> <br>
        </div>

        <h2>Devoplers</h2>
        <ul id="team-names">
            <li>Luke Freeman</li>
            <li>Joss Murray</li>
            <li>Cortez Banks</li>
        </ul>

        <h3>Tools Used</h3>
        <ul>
            <li></li>
            <li><a href="https://getbootstrap.com/" >bootstrap</a> <br></li>
            <li><a href="Tool URL" >NAME</a> <br></li>
            <li><a href="Tool URL" >NAME</a> <br></li>
        </ul>

        <h3>API's  Used</h3>
        <ul>
            <li> <a href="https://developer.edamam.com/edamam-recipe-api" >Edamam</a> <br></li>
            <li><a href="API URL" >NAME</a> <br></li>
            <li><a href="API URL" >NAME</a> <br></li>
        </ul>


    </div>
</body>
</html>