<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Decide - Dine In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/index.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="{{ url_for('proposal_btn') }}">About Us</a>
        <a href="{{ url_for('credits_btn') }}">Credits</a>


    </div>
    <div class="title-container">
        <div class="title-header">
            <h1><br>Meal Decide</h1>
        </div>
    </div>

    <div class="landing-page">

        <br />
        <h2>Dine In - Recipe Recommendation Finder</h2> <br>
        <br />

        <form action="{{ url_for('dine_in_recipe') }}" id="entry-form" , method='POST'>

            <p>What kind of meal are you looking for?
            <br /><input type="radio" name="meal" value="breakfast">Breakfast
            <br /><input type="radio" name="meal" value="lunch/dinner">Lunch
            <br /><input type="radio" name="meal" value="lunch/dinner" checked>Dinner</p>
            <br />

            <p>What kind of dishes are you looking for?
            <br /><input type="checkbox" name="dish" value="bread">Bread
            <br /><input type="checkbox" name="dish" value="starter">Starter
            <br /><input type="checkbox" name="dish" value="sandwiches">Sandwich 
            <br /><input type="checkbox" name="dish" value="salad">Salad
            <br /><input type="checkbox" name="dish" value="condiments and sauces">Sauce/Condiment
            <br /><input type="checkbox" name="dish" value="main course" checked>Main Course
            <br /><input type="checkbox" name="dish" value="desserts">Dessert
            <br />

            <p>Do you have any specific cuisine types in mind?
            <br /><input type="checkbox" name="cuisine" value="ALLAN"> All
            <br /><input type="checkbox" name="cuisine" value="AMERI"> American
            <br /><input type="checkbox" name="cuisine" value="SEAFO"> Seafood
            <br /><input type="checkbox" name="cuisine" value="MEDET"> Mediterranean
            <br /><input type="checkbox" name="cuisine" value="ITALI"> Italian
            <br /><input type="checkbox" name="cuisine" value="CHINA"> Chinese
            <br /><input type="checkbox" name="cuisine" value="JAPAN"> Japanese
            <br /><input type="checkbox" name="cuisine" value="FRANC"> French
            <br /><input type="checkbox" name="cuisine" value="LATIN"> Mexican/Latin
            <br /><input type="checkbox" name="cuisine" value="INATL"> Any International Food</p>
            <br />
            
            <p>Do you have any dietary restrictions or preferences?
                <br /><input type="checkbox" name="restrictions" value="Vegetarian"> Vegetarian Friendly
                <br /><input type="checkbox" name="restrictions" value="Vegan"> Vegan Options
                <br /><input type="checkbox" name="restrictions" value="Gluten-Free"> Gluten Free
                <br /><input type="checkbox" name="restrictions" value="Low-Carb"> Low-Carb
                <br /><input type="checkbox" name="restrictions" value="Low-Fat"> Low-Fat
                <br /><input type="checkbox" name="restrictions" value="Low-Sodium"> Low-Sodium
                <br /><input type="checkbox" name="restrictions" value="Balanced"> Balanced
                <br /><input type="checkbox" name="restrictions" value="High-Fiber"> High-Fiber
                <br /><input type="checkbox" name="restrictions" value="Dairy-Free"> Dairy-Free
                <br /><input type="checkbox" name="restrictions" value="Low-Carb"> Peanut-Free
                <br /><input type="checkbox" name="restrictions" value="High-Protein"> High-Protein</p>
            <br />
            <input type="submit" value="Submit">
        </form>
    <script>
    </script>
</body>

</html>