<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Decide - Go Out</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/index.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="{{ url_for('proposal_btn') }}">About Us</a>
        <a href="{{ url_for('credits_btn') }}">Credits</a>


    </div>
    <div class="title-container">
        <div class="title-header">
            <h1><br>Meal Decide</h1>
        </div>
    </div>

    <div class="landing-page">

        <br />
        <h2>Go Out - Restaurant Recommendation Finder</h2> <br>
        <br />
        
        {% for p in warnings %}
                <p style="color:red">{{p}}</p>
        {% endfor %}

        <form action="{{ url_for('go_out_location') }}" id="entry-form" , method='POST'>

            <p>Please enter your minimum desired price range ($ - $$$$): </p>
            <div class="slidecontainer">
                <input type="range" name="minprice" value="{{minprice}}" min="1" max="4" value="2" class="slider">
                <p>$&nbsp;&nbsp;$$&nbsp;&nbsp;$$$&nbsp;&nbsp;$$$$</p>
            </div>
            <br />

            <p>Please enter your maximum desired price range ($ - $$$$): </p>
            <div class="slidecontainer">
                <input type="range" name="maxprice" value="{{maxprice}}" min="1" max="4" value="2" class="slider">
                <p>$&nbsp;&nbsp;$$&nbsp;&nbsp;$$$&nbsp;&nbsp;$$$$</p>
            </div>
            <br />

            <p>What kind of meal are you looking for?
            <br /><input type="radio" name="meal" value="BREAK">Breakfast
            <br /><input type="radio" name="meal" value="LUNCH" checked>Lunch
            <br /><input type="radio" name="meal" value="DINNE" >Dinner
            <br /><input type="radio" name="meal" value="DESRT" >Dessert
            <br /><input type="radio" name="meal" value="ALCOH" >Drinks</p>
            <br />

            <p>Are you looking for some place formal or casual?
            <br /><input type="radio" name="context" value="FORMA">Formal
            <br /><input type="radio" name="context" value="CASUA" checked>Casual</p>
            <br />

            <p>Are you looking for a fast-bite or a sit-down meal?
            <br /><input type="radio" name="speed" value="FSTFD">Fast Food
            <br /><input type="radio" name="speed" value="SITDW" checked>Sit Down</p>
            <br />

            <p>Do you have any specific cuisine types in mind?
            <br /><input type="checkbox" name="cuisine" value="ALLAN"> All
            <br /><input type="checkbox" name="cuisine" value="AMERI"> American
            <br /><input type="checkbox" name="cuisine" value="SEAFO"> Seafood
            <br /><input type="checkbox" name="cuisine" value="MEDET"> Mediterranean
            <br /><input type="checkbox" name="cuisine" value="ITALI"> Italian
            <br /><input type="checkbox" name="cuisine" value="CHINA"> Chinese
            <br /><input type="checkbox" name="cuisine" value="JAPAN"> Japanese
            <br /><input type="checkbox" name="cuisine" value="FRANC"> French
            <br /><input type="checkbox" name="cuisine" value="LATIN"> Mexican/Latin
            <br /><input type="checkbox" name="cuisine" value="INATL"> Any International Food</p>
            <br />

            
            <p>Do you have any dietary restrictions or preferences?
                <br /><input type="checkbox" name="restrictions" value="Vegetarian"> Vegetarian Friendly
                <br /><input type="checkbox" name="restrictions" value="Vegan"> Vegan Options
                <br /><input type="checkbox" name="restrictions" value="Gluten-Free"> Gluten Free Options</p>
            <br />

            <input type="submit" value="Submit">
        </form>
        
    <script>
    </script>

</body>

</html>