<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Decide Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/index.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="{{ url_for('proposal_btn') }}">About Us</a>
        <a href="{{ url_for('credits_btn') }}">Credits</a>
        
        
      </div>
    <div class="title-container">
        <div class="title-header">
            <h1><br>Meal Decide</h1>
        </div>
    </div>

    <div class="landing-page">
        
        <br />
        <h2>Are you looking to...</h2> <br>
        <a href="{{ url_for('go_out') }}"><input class="button" type="button" value="GO OUT">
        <a href="{{ url_for('dine_in') }}"><input class="button" type="button" value="DINE IN">
        <br />
        <br />
        <br />
    </div>

    <script>
        
    </script>

</body>
</html>