<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/index.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="{{ url_for('proposal_btn') }}">About Us</a>
        <a href="{{ url_for('credits_btn') }}">Credits</a>


    </div>
    <div class="title-container">
        <div class="title-header">
            <h1><br>Meal Decide</h1>
        </div>
    </div>

    <h2><br>Proposal Overview</h2>
    <div class="proposal">
        <h3>Team Members</h3>
        <ul id="team-names">
            <li>Luke Freeman</li>
            <li>Joss Murray</li>
            <li>Cortez Banks</li>
        </ul>

        <h3>Application Overview</h3>

        <p> Meal Decide is supposed to be the solution to the age old question "What do you want to
            eat?" In this situation, it is meant to be a personal concierge for someone who does not know what to
            eat or where to eat. This application will allow the user to take a survey/quiz in order to
            tell the application about meal context and personal taste. First the user will select whether they want to
            dine in or go out. Depending on the answer, the application will
            suggest a recipe they can cook (dine in) or a restaurant (go out).

            <br /> 
            <br /> 

            If the user is looking to go out to a restaurant, they will enter their zip code, any dietary
            accomodations, price range, and answer a set of questions pertaining to taste. Along with
            that, the user will be able to choose dinner context about wanting fast food, chains
            restraunts, cheap, sit down, carry out, etc. This is to make sure that the
            recommendations are appropriate for the occasion. After all, there's a big difference
            between restaurants you should go to for a formal occasion versus one that's just for a
            quick coffee run. After taking in the information, the application will then
            attempt to return 3-5 restraunts in their area that fit within their criteria. If the
            user still cannot decide, there will be a small spin-the-wheel feature to get a random
            result based on the set of recommendations.

            <br /> 
            <br /> 

            If the user is looking to dine in, the application will use a similar process to find a
            recipe recommendation to provide. They will be provided a survey about taste preference,
            meal type (breakfast, lunch, dinner, or snack), dietary restrictions, number of people,
            and a similar set of questions pertaining to taste. These questions will attempt to
            account for what kind of kitchen the user has and how much time they are willing to
            spend. In the end, a set of recipes will be provided as suggestions - and there will
            also be a small spin-the-wheel feature to get a random final suggested result if they
            cannot decide.
        </p>

        <h3>Technology Overview</h3>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>JavaScript</li>
            <li>AJAX</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Azure (Deployment)</li>
            <li>Places API for Restaurant identification.</li>
            <li>Recipe API for Recipe identification.</li>
        </ul>

        <h3>Feature List</h3>
        <ul>
            <li>Survery/Quiz to find user likes and dislikes for dine-in/go-out options.</li>
            <li>Location based around user entering zipcode for restaurant recommendations.</li>
            <li>Price-range based selection for restaurants.</li>
            <li>Ability to return either 3-5 restaurants or recipes that fit the users needs</li>
            <li>Ability to link out to restraunts websites.</li>
            <li>Wheel-decide feature for those who have trouble making a final decision.</li>
        </ul>

        <h3>Future Feature List</h3>
        <ul>
            <li>Ability to show user where to buy ingredients.</li>
            <li>Ability to place order using instacart for groceries based on ingredients.</li>
            <li>Ability to place order to restraunts from our app.</li>
            <li>Ability to share with friends or family members, having multiple people take the quiz and finding
                something for everybody</li>
        </ul>

        <h3>Basic Technical Features</h3>
        <ul>
            <li>Agile based planning and grooming.</li>
            <li>Basic software development life cycle throughout product lifetime.</li>
            <li>Teamwork throught product development lifecycle.</li>
            <li>Azure-based hosting and deployment.</li>
            <li>Agile development and iterations.</li>
        </ul>

        <h3>Advanced Technical Features</h3>
        <ul>
            <li>Flask.</li>
            <li>Python.</li>
            <li>External API use.</li>
            <li>HTML/CSS bootstrap.</li>
            <li>Hosting flask through azure.</li>
            <li>AJAX calls.</li>
        </ul>

        <h3>Proposal Last Updated November 6th 2021</h3>
    </div>
</body>

</html>